/*关于我们*/
.videoimg { width:100%; height:126px; background:#ff9600 url("../image/abutpic1.png")/*tpa=http://www.fxiaoke.com/image/abutpic1.png*/ no-repeat center center; margin-bottom:58px; }
.videoimg1 { width:100%; height:126px; background:#ff9600 url("../image/mobilepic1.png")/*tpa=http://www.fxiaoke.com/image/mobilepic1.png*/ no-repeat center center; margin-bottom:58px; }
.videoimg2 { width:100%; height:126px; background:#ff9600 url("../image/howbuypic1.png")/*tpa=http://www.fxiaoke.com/image/howbuypic1.png*/ no-repeat center center; margin-bottom:58px; }
.videoimg3 { width:100%; height:126px; background:#ff9600 url("../image/joinpic1.png")/*tpa=http://www.fxiaoke.com/image/joinpic1.png*/ no-repeat center center; margin-bottom:58px; }
.videoimg4 { width:100%; height:126px; background:#ff9600 url("../image/promotionpic1.png")/*tpa=http://www.fxiaoke.com/image/promotionpic1.png*/ no-repeat center center; margin-bottom:58px; }
.videoimg5 { width:100%; height:126px; background:#ff9600 url("../image/fxiaokehuipic4.png")/*tpa=http://www.fxiaoke.com/image/fxiaokehuipic4.png*/ no-repeat center center; margin-bottom:58px; }
.videoimg6 { width:100%; height:126px; background:#ff9600 url("../image/fxiaokeuser_pic.png")/*tpa=http://www.fxiaoke.com/image/fxiaokeuser_pic.png*/ no-repeat center center; margin-bottom:58px; }
.container { width:960px; height:auto; margin:0px auto 45px; }
.container .conl { width:149px; height:auto;float:left; display:inline; }
.container .conl ul.conltit { color:#646464; width:150px; }
.container .conl ul.conltit li { height:44px; text-align:left; }
.container .conl ul.conltit li a { color:#646464; }
.container .conl ul.conltit li a.clik { color:#FF8B1E; }
.container .conr { width:779px; padding-left:30px; float:left; display:inline; color:#646464; border-left:1px #d8d8d8 solid; }
.container .conr p.conneir { width:779px; font-size:14px; line-height:26px; margin-bottom:15px; text-align:justify; text-justify:inter-ideograph }
.container .conr p.conneir1 { width:550px; margin-left:104px; }
.container .conr h4.contit { padding-bottom:28px; height:25px; font-size:25px; font-weight:lighter; }
.container .conr h5{ font-size: 14px; padding: 10px 0; font-weight:bold;}
/*移动crm销售页*/
.container .concrm{padding-right: 30px;}
.container .concrm p{font-size: 16px;line-height: 26px;margin-bottom: 15px;text-align: justify;}
.container .concrm-t{padding:0 30px 28px 30px;height: 25px;font-size: 25px;font-weight: lighter;}
.container .concrm-p{padding:0 30px;}
.container .concrm-label{position: relative;margin-top: 50px;}
.container .concrm-label-line{position: absolute;width:750px;top:95px;height: 1px;border-bottom:1px #ff8b1e solid;z-index:-1;}
.container .concrm-label-ul{width: 672px;height: 120px;margin: 0 auto;}
.container .concrm-label-li{width: 84px;padding:0 70px;float: left;}
.container .concrm-label-li div{width:84px;height: 84px;cursor: pointer;}
.container .concrm-label-li.active div{background-position: 0 0;}
.container .concrm-label-li p{font-size: 20px;color:#ff8b1e;text-align:center;background:#fff;}
.container .concrm-label-lipica{background: url("../image/crmtu1.jpg")/*tpa=http://www.fxiaoke.com/image/crmtu1.jpg*/ left -84px;}
.container .concrm-label-lipicb{background: url("../image/crmtu2.jpg")/*tpa=http://www.fxiaoke.com/image/crmtu2.jpg*/ left -84px;}
.container .concrm-label-lipicc{background: url("../image/crmtu3.jpg")/*tpa=http://www.fxiaoke.com/image/crmtu3.jpg*/ left -84px;}
.container .concrm-content .concrm-contenta,
.container .concrm-content .concrm-contentb,
.container .concrm-content .concrm-contentc{display: none;}
.container .concrm-content .active{display: block;}
.container .concrm-content-card{border-bottom: 1px #e8e8e8 solid;*zoom:1;padding-top: 60px;}
.container .concrm-content-card:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.container .concrm-content-card h5{color: #ff8b1e;font-size: 20px;font-weight: normal;margin:24px 0 24px 0;}
.container .concrm-content-card p{font-size: 14px;color: #686868;margin-bottom: 7px;}
.container .concrm-content-card hr{color: #fff;}
.container .concrm-content-cardl{float: left;}
.container .concrm-content-cardr{float: right;}

.container .conrdiv { height:367px; padding:50px 0px 50px 0px; border-bottom:#d8d8d8 solid 1px; }
.container .conrdiv1 { border-bottom:none }
p.conrdivneir { font-size:13px; color:#646464; line-height:26px; }
p.conrdivntit { color:#FF8B1E; font-weight:bold; padding-bottom:13px; font-size:20px; margin-top:110px; }
dl.conrdivn { margin:0px; }
dl.conrdivn dd.conrdivnl { float:left; margin-left:10px; }
dl.conrdivn dt.conrdivnr { float:right; margin-right:10px; }
dl.conrdivn dt.conrdivnl { float:left; margin-left:10px; }
dl.conrdivn dd.conrdivnr { float:right; margin-right:10px; }
dl.conrdivn dd.conrdivnl1 { float:left; margin-left:20px; }
dl.conrdivn dt.conrdivnr1 { float:right; margin-right:30px; }
dl.conrdivn dt.conrdivnl1 { float:left; margin-left:20px; }
dl.conrdivn dd.conrdivnr1 { float:right; margin-right:30px; }
/*付费方案
.aboutn { width:960px; margin:0 auto; margin:0 auto; padding-top:25px; color:#646F77; font-family:Microsoft Yahei, 宋体, tahoma, arial; }
.aboutn h6.ahouttitle { height:101px; line-height:50px; font-size:30px; font-weight:normal; margin-bottom:30px; }
.aboutn p.aboutnr { height:33px; line-height:33px; text-align:center; font-size:15px; margin:0px; margin-bottom:20px; }
.aboutn p.aboutnrb { font-size:18px; height:32px; line-height:32px; text-align:center; margin:0px; color:#646F77; }
.aboutn .aboutname { width:819px; height:41px; margin-left:70px; }
.aboutn .aboutname .aboutnamel { width:7px; height:41px; float:left; display:inline; }
.aboutn .aboutname .aboutnamer { width:7px; height:41px; float:left; display:inline; }
.aboutn .aboutname .aboutnamec { width:805px; height:39px; border-bottom:#929A9F solid 1px; border-top:#929A9F solid 1px; float:left; display:inline; }
.aboutn .aboutname .aboutnamec span { font-size:13px; color:#646F77; font-family:Microsoft Yahei, 宋体, tahoma, arial; display:block; height:39px; line-height:39px; float:left; padding-left:20px; }
.aboutn1 { padding-bottom:30px; }表格样式*/

.table1 { height:148px;  border:#eeeeee solid 1px; }
table tr.tabletitle { height:65px; }
table tr.tabletitle td.tabletitle2 { height:65px; padding:0px;}
table tr.tabletitle td.tabletitle2 .tabletitle1bg1 { height:65px; }
table tr.tabletitle td.tabletitle2 .tabletitle1bg1 span { display:block; float:left; }
table tr.tabletitle td.tabletitle2 .tabletitle1bg1 span.tabletitle1bgc1 {color:#646464; font-size:14px; background-color:#f4cd4c; }
table tr.tabletitle td.tabletitle2 .tabletitle1bg1 span.tabletitle1bgc1 ul { color:#fff;  height:65px; }
table tr.tabletitle td.tabletitle2 .tabletitle1bg1 span.tabletitle1bgc1 ul li { float:left; border-right:#eeeeee solid 1px; line-height:22px;  text-align:center; padding-top:0px; }
span { display:block; float:left; }
span.tablecontent1bgc1 { color:#646464; font-size:15px; border-bottom:#EEEEEE solid 1px; border-top:#EEEEEE solid 1px; height:504px; }
span.tablecontent1bgc1 ul { color:#646464;  height:434px; border-bottom:#EEEEEE solid 1px; }
span.tablecontent1bgc1 ul li { float:left; border-right:#EEEEEE solid 1px; }
span.tablecontent1bgc1 ul li span { display:block; border-bottom:#EEEEEE solid 1px; text-align:center; }
ul li span.tablecontent1bgc1a { width:100px; height:77px; line-height:77px }
ul li span.tablecontent1bgc1b { height:38px; line-height:38px; width:105px; }
ul li span.tablecontent1bgc1c { height:183px; line-height:24px; padding-top:134px; width:90px; text-align:center; }
ul li span.tablecontent1bgc1g { width:105px; }
ul li span.tablecontent1bgc1f { border-bottom:none; height:142px; width:93px; line-height:24px; padding-top:94px; width:90px; }

/*淘宝页面*/

.content3 { width:960px; height:auto; background-color:#FFF; margin:0 auto; }
.tbfirst { width:960px; height:72px; margin:-15px auto 0px; }
.tbfirst p.tbbiaoti { font-size:14px; display:inline float:left;
}
.tbfirst p.tbbiaoti span.tbtitle { font-weight:bold; text-align:center; width:320px; display:block; float:left; line-height:72px; color:#FFF }
.tbfirst p.tbbiaoti span.tbtitle1 { background-color:#29A77F; }
.tbfirst p.tbbiaoti span.tbtitle2 { background-color:#92B72C; }
.tbfirst p.tbbiaoti span.tbtitle3 { background-color:#29A77F; }
.content3 .tbsecond { width:880px; height:395px; margin-left:40px; border-bottom:#53B244 solid 1px; }
.content3 .tbsecond h4.tbtitle1 { font-weight:bold; font-size:28px; color:#F49C26; width:880px; text-align:center; height:100px; line-height:100px; }
.content3 .tbsecond dl.tbtab { width:230px; height:auto; float:left; display:inline; padding:0px 25px 0px 38px; }
.content3 .tbsecond dl.tbtab dt { }
.content3 .tbsecond dl.tbtab dt img { width:215px; height:143px; }
.content3 .tbsecond dl.tbtab dt span { display:block; height:38px; line-height:38px; text-align:center; width:215px; color:#657078; font-size:15px; font-weight:bold; }
.content3 .tbsecond dl.tbtab dd { margin-left:0px; line-height:20px; color:#657078; font-size:12px; text-align:justify; text-justify:inter-ideograph }
.content3 .tbsecond dl.tbtab1 { width:260px; height:auto; float:left; display:inline; padding-right:50px; }
.content3 .tbsecond dl.tbtab1 dt { }
.content3 .tbsecond dl.tbtab1 dt img { width:260px; height:200px; }
.content3 .tbsecond dl.tbtab1 dd { margin-left:0px; width:260px; color:#666666; line-height:20px; font-size:12px; text-align:justify; text-justify:inter-ideograph }
.content3 .tbsecond .tbneirong { width:880px; height:390px; }
.content3 .tbsecond .tbneirong img.tbneirongl { width:402px; height:289px; float:left; display:inline; margin-left:25px; }
.content3 .tbsecond .tbneirong dl.tbneirongr { float:left; display:inline; margin-left:115px; width:285px; height:auto; }
.content3 .tbsecond .tbneirong dl.tbneirongr dt.shipin { width:285px; height:192px; }
.content3 .tbsecond .tbneirong dl.tbneirongr dd { font-size:14px; line-height:24px; color:#657078; margin-left:0px; }
.content3 .tbsecond .tbbottom { width:880px; height:204px; margin-bottom:10px; }
.content3 .tbsecond .tbbottom img.tbbottomname { width:347px; height:204px; float:left; display:inline; margin-left:18px; }
.content3 .tbsecond .tbbottom .tbbottom1 { width:429px; height:204px; background-color:#ECECEC; float:left; display:inline; position:relative; margin-left:35px; }
.content3 .tbsecond .tbbottom .tbbottom1 p.tbbottomn { font-size:14px; line-height:24px; color:#666666; width:384px; height:100px; padding:30px 0px 0px 20px; }
.content3 .tbsecond .tbbottom .tbbottom1 span.tbbt { font-size:14px; color:#ffffff; font-weight:bold; text-align:center; width:138px; height:36px; line-height:36px; background:url("../image/taobaotab15.png")/*tpa=http://www.fxiaoke.com/image/taobaotab15.png*/ no-repeat; position:absolute; right:35px; bottom:30px; }
.content3 .tbsecond .tbbottom .tbbottom1 span.tbbt a { color:#ffffff; }
/*弹出提示*/
dl.online { width:868px; height:550px; margin-left:30px; font-family:Microsoft Yahei, 宋体, tahoma, arial; }
dl.online dt { font-size:18px; color:#000; height:40px; line-height:40px; font-weight:500; text-align:center; width:868px; }
dl.online dd { width:838px; color:#787878; margin:15px auto; }
dl.online dd p { color:#787878; line-height:27px; }
.online1 { width:920px; height:500px; background-color:#FFF; margin-left:0px; }
dl.online dd p.onlineshu { margin-left:180px; padding-top:10px; color:#4C6D90; font-weight:normal; font-family:Arial, Helvetica, sans-serif; font-size:22px; height:25px; line-height:25px; width:500px; font-family:Microsoft Yahei, 宋体, tahoma, arial; }
table.feedbackn { width:825px; height:35px; margin-left:15px; }
table.feedbackn tr { height:35px; }
table.feedbackn tr td.name1 { width:70px; text-align:left; font-size:14px; color:#333; }
table.feedbackn tr td.name2 { width:755px; color:#333; }
table.feedbackn tr td.name2 input.ipt { width:743px; padding-left:10px; height:33px; border:#C8C8C8 solid 1px; color:#B2B2B2; font-size:13px; }
/*提交成功页面*/
.pop_center { width:920px; height:200px; }
.pop_center p.success { width:260px; margin-left:340px; font-size:27px; color:#646464; background:url("../image/onlinetable6.jpg")/*tpa=http://www.fxiaoke.com/image/onlinetable6.jpg*/ no-repeat 0px 0px; height:56px; line-height:56px; margin-top:220px; padding-left:70px; background-color:#FFF; }
.pop_center p.successn { width:920px; text-align:center; font-size:16px; color:#646464; height:40px; line-height:40px; margin-bottom:28px; }
.pop_center p.success1 { background:url("../image/onlinetable6.jpg")/*tpa=http://www.fxiaoke.com/image/onlinetable6.jpg*/ no-repeat 0px -56px; margin-top:120px; width:320px; margin-left:310px; }
.tijiao1 { width:450px; height:40px; text-align:center; }
input.tjbutton { background:url("../image/onlinetable5.jpg")/*tpa=http://www.fxiaoke.com/image/onlinetable5.jpg*/ no-repeat 0px 0px; width:88px; height:25px; color:#FFF; text-align:center; line-height:25px; font-size:15px; font-family:Microsoft Yahei, 宋体, tahoma, arial; border:none; float:right; cursor:pointer; margin-right:15px; }
input.tjbutton1 { background:url("../image/onlinetable5.jpg")/*tpa=http://www.fxiaoke.com/image/onlinetable5.jpg*/ no-repeat 0px -27px; margin-right:0px; margin-right:330px; }
.tijiao { width:868px; margin-top:35px; }
/*by zzj*/
.tipError { height: 28px; width:500px; *width:500px;
}
.tipContentErr { font: normal 12px tahoma, arial, Microsoft Yahei, 宋体; height:18px; padding:5px; color:#fff; background-color:#CC6666; }
.tipError img, .tipContentErr { float: left; }
.imgNo, .imgOk { display: none; }
.loading { display:none; text-align:center; line-height:200%; padding-top:52px; width:220px; font: normal 18px tahoma, arial, Microsoft Yahei, 宋体; }
.noTitle { padding: 0px; }
.noTitle .ui-dialog-titlebar { display:none; margin:0px; padding:0px; }
.noTitle .ui-dialog .ui-dialog-content { padding: 0px; }
/*短信付费*/
.duanxin { width:775px; margin:0 auto; height:auto; border-bottom:#C8C8C8 solid 1px; margin-bottom:20px; }
.duanxin h4.contit1 { padding-bottom:28px; height:25px; font-size:25px; font-weight:lighter; }
.duanxin p.conneir1 { width:775px; font-size:14px; line-height:26px; margin-bottom:15px; text-align:justify; text-justify:inter-ideograph }
p.conneir4 a.liaojie { display:block; width:155px; height:32px; line-height:32px; text-align:center; font-size:13px; color:#646464; background-color:#EBEBEB; position:absolute;  }
p.conneir4{ position:relative; margin-bottom:50px;  }

.duanxin ul.duanxinnr { margin-bottom:20px; height:430px;width:775px; }
.duanxin ul.duanxinnr li { float:left; }
/*加入我们*/
.conrmy { height:113px; border-bottom:#C8C8C8 solid 1px; margin-bottom:40px; }
.conrmy span.conrmys { display:block; float:right; padding-top:5px; }
.conrmy1 { height:360px; }
.conrmy1 ul.conrmyxx { width:775px; height:354px; }
.conrmy1 ul.conrmyxx li.conrmyfk { width:375px; height:132px; float:left; display:inline; margin-left:25px; margin-bottom:45px; }
.conrmy1 ul.conrmyxx li.conrmyfk dl.conrmyfkd { width:375px; height:132px; }
.conrmy1 ul.conrmyxx li.conrmyfk dl.conrmyfkd dt.conrmyfkd1 { width:140px; height:132px; float:left; display:inline }
.conrmy1 ul.conrmyxx li.conrmyfk dl.conrmyfkd dt.conrmyfkd1 img { width:140px; height:132px; }
.conrmy1 ul.conrmyxx li.conrmyfk dl.conrmyfkd dd.conrmyfkd2 { width:220px; float:left; margin-left:15px; }
.conrmy1 ul.conrmyxx li.conrmyfk dl.conrmyfkd dd.conrmyfkd2 p.conrmyfkdn { width:220px; color:#646464; font-size:13px; line-height:20px; }
p.conneirb { height:45px; line-height:45px; margin-bottom:20px; font-size:18px; color:#0080B9; }

p.conneirb a:link,
p.conneirb a:visited,
p.conneirb a:hover,
p.conneirb a:active{
	color: #0080B9;
}

p.conneir span.conspan { width:200px; display:block; float:left; margin-left:10px; }
/*user case*/
.pop { position:fixed; _position:absolute; left:52%; margin-left:-380px; top:6.5%; width:700px; background:#eee; border:1px solid #ccc; z-index:10000000; }
.pop_head { position:relative; height:20px; background:#ccc }
.pop_head a { position:absolute; right:8px; line-height:20px; color:#000; text-decoration:none }
.pop_head a:hover { color:#f60; text-decoration:none }
.pop_body { padding:8px }
.vediomainsp li { cursor:pointer; }
.fxiaokeuser { height:40px; margin-bottom:5px; border-bottom:#999 dashed 1px; }
.fxiaokeuserc { width:779px; height:300px; margin-bottom:20px; }
.fxiaokeuserc .fxiaokeuserl { width:450px; height:300px; float:left; background-color:#28aa78; margin:0px; }
.fxiaokeuserc .fxiaokeuser2 { background-color:#ffbe00; }
.fxiaokeuserc .fxiaokeuser3 { background-color:#d2d2dc; }
.fxiaokeuserc .fxiaokeuser4 { background-color:#b60012; }
.fxiaokeuserc .fxiaokeuser5 { background-color:#e61e14; }
.fxiaokeuserc .fxiaokeuser6 { background-color:#c7d9eb; }
.fxiaokeuserc .fxiaokeuser7 { background-color:#b70031; }
.fxiaokeuserc .fxiaokeuser8 { background-color:#886849; }
.fxiaokeuserc .fxiaokeuser9 { background-color:#eb6301; }
.fxiaokeuserc .fxiaokeuser10 { background-color:#d2d2dc; }
.fxiaokeuserc .fxiaokeuserr { width:279px; height:240px; float:right; background-color:#f0f0f0; padding:60px 25px 0px 25px; }
.container .conr p.conneir4 { width:279px; }
/*新增样式*/
#jg { height: 220px; margin: 20px auto 10px; width:779px; }
.jiage { float: left; height: 170px;
    padding-top: 25px; width:232px;  text-align: center; }
.jiage  p{ margin:0px;}
.kuan1 { margin-right: 42px; width: 232px; }
.red { background-color: #f4cd4c; color: #AC8F31; font-size: 20px; line-height:20px; margin-right: 40px }
.bule{ background-color: #47b3f1; color: #226E9A; font-size: 20px; line-height:20px; margin-right: 40px }
.yellow{ background-color: #ff8b8b; color: #C15555; font-size: 20px; line-height:20px; margin-right:0px; }
.bs{ color: #FFFFFF; font-size:30px; line-height:30px;}
.big{ color: #FFFFFF; font-size:60px; line-height:60px; margin-left:70px; margin-top:17px;}
.small{ color: #FFFFFF; font-size: 30px; margin-top:40px; line-height:30px;}
span.yonghu{ display:block; text-align:center; width: 232px; margin-top:15px;}

h6.ahouttitle{ height:101px; line-height:50px; font-size:30px; font-weight:normal; margin-bottom:30px; }
.borderbg{ width:270px; height:44px; background-color:#FFF;}
.borderbg span.inputl{ background:url("../image/biankuangl.png")/*tpa=http://www.fxiaoke.com/image/biankuangl.png*/ no-repeat; width:5px; height:44px; display:block; float:left; }
.borderbg span.inputr{ background:url("../image/biankuangr.png")/*tpa=http://www.fxiaoke.com/image/biankuangr.png*/ no-repeat; width:5px; height:44px; display:block; float:left;}
.borderbg span.inputc{  background:url("../image/biankuangc.png")/*tpa=http://www.fxiaoke.com/image/biankuangc.png*/ repeat-x; width:260px;height:44px; display:block;float:left; background-color:#FFF; }
input.ipt { height:38px; line-height:38px; width:250px;  padding-left:10px; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#B2B2B2; line-height:40px; border:none; margin-top:1px; }
.jsq{ position:relative; height:160px;}
.jsqbt{ width:100px; height:36px; color:#FFF; line-height:36px; text-align:center; font-size:14px; background-color:#fa9200; cursor:pointer; border:none;}
.jsqpay{ font-size:14px; position:absolute; left:280px; top:52px;}

.wenhuacontent{

}
.wenhuacontent p{
	text-indent: 2em;
	line-height: 24px;
}
.wenhuacontent img{
	display: block;
	margin: 20px auto;
}
.wenhuacontent h4{
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	padding-bottom:16px; 
}
